ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a19f9f;
  border-radius: 30px;
  box-shadow: 10px 10px 8px #04aa6d;

}
li {
  float: left;
  border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #6d6d6d;
}
.active {
  background-color: #04aa6d;
}

.login-user {
  height: 1em;
  margin-right: 0.5em;
  vertical-align: bottom;
}
